.stApp{
    background:#0E1117;
}

.hero{
    background:linear-gradient(135deg,#111827,#1F2937);
    padding:40px;
    border-radius:25px;
}

.card{
    background:#161B22;
    padding:20px;
    border-radius:20px;
    margin-bottom:15px;
}

.glow{
    color:white;
    text-shadow:
    0 0 10px #00D9FF,
    0 0 20px #00D9FF,
    0 0 40px #00D9FF;
}